.DS_Store
/.build
/Packages
CommonCrypto
/Package.pins
/Package.resolved

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/
.swiftpm
